<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Number of people: <%= numberOfPeople %></h1>
        <form action="/change-user-count-add" method="POST">
            <button type="submit">+</button>
        </form>
        <form action="/change-user-count-subtract" method="POST">
            <button type="submit">-</button>
        </form>
        <form action="/logout" method="POST">
            <button type="submit">Log Out</button>
        </form>
    </div>
</body>
</html>