<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/change-user-count" method="POST">
            <input type="number" name="people-change"/>
            <label for="people-change">exited or entered</label>
            <!-- radio buttons -->
                <select name="select" value="select">
                    <div>
                        <option name="exits" value="exits">Exits</option>
                    </div>
                    <div>
                        <option name="enters" value="enters" selected>Enters</option>
                    </div>
                </select>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>