<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queue Safe</title>
</head>
<body>
    <div class='sidebar pad2'>Listing</div>
    <div id='map' class='map pad2'>Map</div>
</body>
</html>