<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="POST">
        <div>
            <label for="Username">Username: </label>
            <input type="text" name="storeUsername"/>
        </div>
        <div>
            <label for="Password">Password: </label>
            <input type="password" name="password"/>
        </div>
        <button type="submit">Login</button>
    </form>

    <a href="/add-store">
        If, your store isn't added, then go to the link to add it
    </a>
</body>
</html>