<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="cont">
  <div class="form sign-in">
    <h2>Welcome back,</h2>
    <form action="/login" method="POST">
    <label>
      <span>Username</span>
      <input type="text" name="storeUsername"/>
    </label>
    <label>
      <span>Password</span>
      <input type="password" name="password" />
    </label>
    <button type="submit" class="submit">Sign In</button>
    </form>
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>New here?</h2>
        <p>Sign up and discover great amount of new opportunities!</p>
      </div>
      <div class="img__text m--in">
        <h2>Store Administrator Instructions: </h2>
        <p> 
            1a. If this is your first time, please register with all the necessary information to create an account for your store <br>
            1b. If your a recurring store vendor, access the counter to update through the log-in page <br>
            2. Enter the current customer traffic at your store, at real time <br>
            3. Future customers will be able to view the traffic at the store real-time, and make a decision when to visit based on CDC social distancing guidelines. <br></p>
      </div>
      <div class="img__btn">
        <span class="m--up">Sign Up</span>
        <p><br></p>
        <p><br></p>
        <span class="m--in">Sign In</span>
      </div>
    </div>
    <div class="form sign-up sign-up-form">
    <form action="/add-store" method="POST">
      <h2>Time to feel like home,</h2>
      <label>
        <span>Store Name</span>
        <input type="text" name="storeName"/>
      </label>
      <label>
        <span>Username</span>
        <input type="text" name="username"/>
      </label>
      <label>
        <span>Password</span>
        <input type="password" name="password"/>
      </label>
        <label>
        <span>Store Category</span>
        <input type="text" name="category"/>
      </label>
      <label>
        <span>Street Address</span>
        <input type="text" name="address"/>
      </label>
      <label>
        <span>Zipcode</span>
        <input type="text" name="zipcode"/>
      </label>
      <label>
        <span>Phone Number</span>
        <input type="text" name="phone_number"/>
      </label>
      <label>
        <span>Capacity</span>
        <input type="number" name="capacity"/>
      </label>
      <button type="submit" class="submit">Sign Up</button>
      </form>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>
</body>
</html>