#intro {
    margin: auto;
    background-color: beige;
    width: 500px;
    border: 5px solid lightgrey;
    padding: 20px;
    margin-top: 40px;
    margin-left: 300px;
    /* margin: 20px; */
    text-align: center;
}



